In [1]:
import pandas as pd
df = pd.read_csv('../dataset/diamonds.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [2]:
df.isnull()

       carat    cut  color  clarity  depth  table  price      x      y      z
0      False  False  False    False  False  False  False  False  False  False
1      False  False  False    False  False  False  False  False  False  False
2      False  False  False    False  False  False  False  False  False  False
3      False  False  False    False  False  False  False  False  False  False
4      False  False  False    False  False  False  False  False  False  False
...      ...    ...    ...      ...    ...    ...    ...    ...    ...    ...
53935  False  False  False    False  False  False  False  False  False  False
53936  False  False  False    False  False  False  False  False  False  False
53937  False  False  False    False  False  False  False  False  False  False
53938  False  False  False    False  False  False  False  False  False  False
53939  False  False  False    False  False  False  False  False  False  False

[53940 rows x 10 columns]

In [3]:
df.sort_values(by='price', ascending=False)

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43

[53940 rows x 10 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [5]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [6]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [7]:
df['color'].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [8]:
df1 = pd.read_csv('../dataset/iris.csv')
df1 = df1.rename(columns={' sepal_length':'sepal_length', ' sepal_width':'sepal_width', ' petal_length':'petal_length', ' petal_width':'petal_width', ' class':'class'})
df1.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df1['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [11]:
df1[df1['class'] == 'Iris-versicolor'].head()

    sepal_length  sepal_width  petal_length  petal_width            class
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor

In [12]:
df1.isnull().all()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
class           False
dtype: bool

In [13]:
df1['class'].mode()

0        Iris-setosa
1    Iris-versicolor
2     Iris-virginica
Name: class, dtype: object

In [14]:
df1['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [15]:
df1['class'].describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: class, dtype: object

In [16]:
setosa = df1[df1['class'] == 'Iris-setosa']
setosa['sepal_width'].describe()

count    50.000000
mean      3.418000
std       0.381024
min       2.300000
25%       3.125000
50%       3.400000
75%       3.675000
max       4.400000
Name: sepal_width, dtype: float64

In [17]:
versicolor = df1[df1['class'] == 'Iris-versicolor']
versicolor.head()

    sepal_length  sepal_width  petal_length  petal_width            class
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor

In [18]:
verginica = df1[df1['class'] == 'Iris-virginica']
verginica.head()

     sepal_length  sepal_width  petal_length  petal_width           class
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica

In [19]:
import scipy.stats as scs
import matplotlib.pyplot as plt
import numpy as np
mean_setosa = np.mean(setosa['petal_width'])
n_setosa = len(setosa['petal_width'])
alpha = 0.01

sem_setosa = scs.sem(setosa['petal_width'])
lower_setosa, upper_setosa = scs.t.interval(confidence=1-alpha, df=n_setosa-1, loc=mean_setosa, scale=sem_setosa)
print(f'Confidence interval (\u03B1=0.05) for average width of \'Setosa\' petal width: {round(lower_setosa,4)}-{round(upper_setosa,4)}')

Confidence interval (Î±=0.05) for average width of 'Setosa' petal width: 0.2034-0.2846

In [20]:
mean_versicolor = np.mean(versicolor['petal_width'])
n_versicolor = len(versicolor['petal_width'])
alpha = 0.01

sem_versicolor = scs.sem(versicolor['petal_width'])
lower_versicolor, upper_versicolor = scs.t.interval(confidence=1-alpha, df=n_versicolor-1, loc=mean_versicolor, scale=sem_versicolor)
print(f'Confidence interval (\u03B1=0.05) for average width of \'Versicolor\' petal width: {round(lower_versicolor,4)}-{round(upper_versicolor,4)}')

Confidence interval (Î±=0.05) for average width of 'Versicolor' petal width: 1.2511-1.4009

In [21]:
mean_verginica = np.mean(verginica['petal_width'])
n_verginica = len(verginica['petal_width'])
alpha = 0.01

sem_verginica = scs.sem(verginica['petal_width'])
lower_verginica, upper_verginica = scs.t.interval(confidence=1-alpha, df=n_verginica-1, loc=mean_verginica, scale=sem_verginica)
print(f'Confidence interval (\u03B1=0.05) for average width of \'Verginica\' petal width: {round(lower_verginica,4)}-{round(upper_verginica,4)}')

Confidence interval (Î±=0.05) for average width of 'Verginica' petal width: 1.9219-2.1301

In [22]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [23]:
def confidence_interval(df_list, test, a):
    a = 1 - (a/100)
    c_i = []
    for item in df_list:
        c_i.append(scs.t.interval(confidence=1-a, df=len(item[test]) - 1, loc=item[test].mean(), scale=scs.sem(item[test])))
    
    print(f'confidence interval for {test} of the dataframes are: \n 1. Item 1 between {round(c_i[0][0], 3)} and {round(c_i[0][1],3)} \n 2. Item 2 between {round(c_i[1][0],3)} and {round(c_i[1][1],3)} \n 3. Item 3 between {round(c_i[2][0],3)} and {round(c_i[2][1],3)}')
   
l = [setosa, verginica, versicolor]

confidence_interval(l, 'petal_width', 99)
confidence_interval(l, 'sepal_width', 95)

confidence interval for petal_width of the dataframes are:
 1. Item 1 between 0.203 and 0.285
 2. Item 2 between 1.922 and 2.13
 3. Item 3 between 1.251 and 1.401
confidence interval for sepal_width of the dataframes are:
 1. Item 1 between 3.31 and 3.526
 2. Item 2 between 2.882 and 3.066
 3. Item 3 between 2.681 and 2.859

In [24]:
class Statistics_ai:
    
    def __init__(self, test, alph) -> None:
        self._test = test
        self._alph = alph
        self._df_list = {'setosa':setosa,'verginica': verginica, 'versicolor':versicolor}
    
    def description(self, df):     
        print(f"Description for {df} \n{self._df_list[df].describe()}\n")
            
    def confidence_interval(self):
        self._alpha = 1 - (self._alph/100)
        c_i = []
        for key, value in self._df_list.items():
            c_i.append({key:scs.t.interval(confidence=1-self._alpha, df=len(value[self._test]) - 1, loc=value[self._test].mean(), scale=scs.sem(value[self._test]))})

        print(f'Confidence interval with confidence grade of {self._alph} for {self._test} of the dataframes are: \n ')
        for item in c_i:
            for key, value in item.items():     
                print(f'{key}["{self._test}"] between {round(value[0], 3)} and {round(value[1],3)} \n')
    
petal_width_ci = Statistics_ai(test='petal_width', alph=99)

petal_width_ci.confidence_interval()
petal_width_ci.description('setosa')

Confidence interval with confidence grade of 99 for petal_width of the dataframes are:

setosa["petal_width"] between 0.203 and 0.285

verginica["petal_width"] between 1.922 and 2.13

versicolor["petal_width"] between 1.251 and 1.401

Description for setosa
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [25]:
scs.norm.cdf(1.2)

0.8849303297782918

In [26]:
scs.norm.ppf(0.98)

2.0537489106318225

In [27]:
from scipy.stats import f
s_petal = setosa['petal_length']
versi_petal = versicolor['petal_length']

statistic1 = np.var(s_petal, ddof=1)/np.var(versi_petal, ddof=1)
result = f.ppf(q=0.05, dfn=len(s_petal)-1,dfd=len(versi_petal)-1)
print(statistic1)
print(result)

0.13634011090573012
0.6221654675017775

In [28]:
from scipy.stats import ttest_ind

setosa_sample = s_petal.sample(5)
versicolor_sample = versi_petal.sample(8)
res_equal = ttest_ind(a=setosa_sample, b=versicolor_sample, equal_var=False, alternative='greater')

print(res_equal)

Ttest_indResult(statistic=-24.564794147950654, pvalue=0.9999999999572154)

In [29]:

"""
h0 : versicolor['sepal_length'] <= verginica['sepal_length']
ha : versicolor['sepal_length'] > ver['sepal_length']

if p-value < 0.05 which is the significance level, then h0 is not rejected
"""

res_eq = ttest_ind(a=versicolor['sepal_length'], b=setosa['sepal_length'], equal_var=False, alternative='greater')
print(f'hypothesis rejected because p_value({res_eq.pvalue}) is less than 0.05 which is the significance level' if res_eq.pvalue <= 0.05 else f'hypothesis not rejected since p_value({res_eq.pvalue}) is greater than 0.05 which is the signifance level')
print(f'hypothesis rejected because t_statistic({res_eq.statistic}) is greater than 0.95 which is the significance level' if res_eq.statistic > norm.ppf(0.95) else f'hypothesis not rejected since t_statistic({res_eq.statistic}) is less than 0.95 which is the signifance level')

hypothesis rejected because p_value(1.873371306991921e-17) is less than 0.05 which is the significance level

NameError: name 'norm' is not defined

In [31]:
versicolor['petal_width'].head(2)

50    1.4
51    1.5
Name: petal_width, dtype: float64

In [38]:
from statsmodels.stats.weightstats import ttest_ind

resulttt = ttest_ind(x1=verginica['petal_width'].sample(10), x2=versicolor['petal_width'].sample(10), alternative='larger', usevar='unequal', value=1.3)
print(resulttt)

(-6.0796001892837035, 0.999993907205029, 17.02494299730533)

In [39]:
setosa.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [40]:
versicolor.describe()

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000